{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		<div class=" pb-3">
    <img class="img-fluid mx-auto d-block" src="{% static 'logo.png' %}" alt="logo image" width="72" height="72">
  </div>
		<p class="m-auto">You must authenticate to view this page. </p>
		<p class="m-auto">
			<a href="{% url 'register' %}">Create an account</a> or 
			<a href="{% url 'login' %}">login</a>.
		</p>
	</div>
</div>

{% endblock content %}
